@model IEnumerable<Web_Programlama_Odev.Models.Uyeler>

@{
    ViewBag.Title = "UyeListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Yetkiler.YetkiTuru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeSifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Yetkiler.YetkiTuru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UyeSifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.ActionLink("Sil", "UyeSil", new { id=item.UyeId })
        </td>
    </tr>
}

</table>
