@model Web_Programlama_Odev.Models.Uyeler

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Session["username"].ToString()</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetkiler.YetkiTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetkiler.YetkiTuru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeSifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeSifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UyeId }) 
</p>
